<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
          <div class="text-center" style="color: blue;">
      <h6 class="card-title mb-4">FORGOT PASSWORD?</h6></div>
      <p  style="text-align: center;">Please Enter your registered Email ID</p>
      <form >
          <div class="form-group">
                            <p class="err" id="errmsg" style="color: red; text-align: center;"></p>
                            <p id="successmsg" style="color: black; text-align: center;"></p>
                            
     

                                      
                                       
                                         

			 <input type="email" name="phoneNumber"  minlength="10" id="inputEmailAddress" required class="form-control" placeholder="Registered Email Id"  >
             
          </div> <!-- form-group// -->
          {{!-- <div class="form-group">
			<input type="password" required id="inputPassword" name="OTP" class="form-control" placeholder="OTP"  >
            
          </div> <!-- form-group// --> --}}
          
          {{!-- <div class="form-group">
          	<a href="#" class="float-right">Forgot password?</a> 
           
          </div> <!-- form-group form-check .// --> --}}
          <div class="form-group">
              <button type="button" class="btn btn-primary btn-block" onclick="submitEmail()"> Submit </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     {{!-- <p class="text-center mt-4">Don't have account? <a href="/signupfrm">Sign up</a></p> --}}
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
<script>
    function submitEmail(){
        let email=document.getElementById('inputEmailAddress').value
        $.ajax({
            url:'/forgotPwd',
            data:{
                email:email
            },
            method:"post",
            success:(response)=>{
                console.log(response)
                if(response.exist){
                    document.getElementById("errmsg").innerHTML="Entered Email Id Is Not Registered With MOBIKART"
                    setTimeout(function(){
                     document.getElementById('errmsg').innerHTML=""
                                                }, 6000);

                }
                else if(response.error){
                document.getElementById("errmsg").innerHTML="We Can't able to send RESET link to your email"
                    setTimeout(function(){
                     document.getElementById('errmsg').innerHTML=""
                                                }, 2000);                               
                }
                else if(response.success){
                    document.getElementById("successmsg").innerHTML="We have sent reset password link to: "+email

                }
            

            }
        })
    }
</script>