 <!-- ========================= SECTION CONTENT ========================= -->
{{#if result}}
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body text-center">
      <h4 class="card-title mb-4">Reset Your Password</h4>
      <form name="resetform" action="/resetPwd/{{result.userId}}" method="post">
          <div class="form-group">
               {{#if logginerr}}
                            <p class="err" id="errmsg1" style="color: red; text-align: center;">Invalid username or password</p>
                            {{/if }}
                            
                             {{!-- <p class="err" id="errmsg1" style="color: red; text-align: center;">Please Login/signup to continue...</p> --}}

                                      
                                       
                                           <script>
                                               setTimeout(function(){
                                                    document.getElementById('errmsg1').innerHTML=""
                                                }, 2000);
                                                        
                                                              </script>
			 <input type="password" name="email"  id="inputPassword" required class="form-control" placeholder="Enter Your Password" onkeyup="validatePassword()" >
             <span class='error-message' id='password-error'></span>
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" required id="inputCpassword" name="password" class="form-control" placeholder="Confirm Your Password" onkeyup="validateCpassword()" >
            <span class='error-message' id='cpassword-error'></span>
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	{{!-- <a href="/otpNum" class="float-right">Login with OTP</a>  --}}
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">RESET YOUR PASSWORD</button>
          </div> <!-- form-group// -->    
           {{!-- <p class="text-center mt-4"><a href="/forgotPwdFrm">Forgot Your Password?</a></p> --}}
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     {{!-- <p class="text-center mt-4">Don't have account? <a href="/signupfrm">Sign up</a></p> --}}
    
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{{else}}
<div class="text-center">
<h3>Your Reset password link has expired</h3>
</div>
{{/if}}

<script>
				document.resetform.addEventListener("submit", function (event) {

			// var user = this.querySelector("input[id=signup-username]").value;
			var pass = this.querySelector("input[id=inputPassword]").value;
			var pass2 = this.querySelector("input[id=inputCpassword]").value;
		
			var regx = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		
		
			
			 if (pass.trim() == "" || pass.length < 3) {
			  document.getElementById("inputPassword").focus();
			  event.preventDefault();
			} else if (pass.trim() != pass2.trim()) {
			  document.getElementById("inputCpassword").focus();
			  event.preventDefault();
		
			}
		  });
		  </script>
          